<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2025.2.4" targetFramework="net48" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.0.4.400" targetFramework="net48" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="OpenTK" version="2.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="Ziks.WebServer" version="0.1.6317.26952-alpha" targetFramework="net452" />
</packages>