<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q8-AnyCPU" version="7.0.4.400" targetFramework="net452" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net452" />
  <package id="Ziks.WebServer" version="0.1.6233.27703-alpha" targetFramework="net452" />
</packages>