<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="geometry-dom.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="lz-string.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net452" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.0.4.400" targetFramework="net452" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net452" />
  <package id="threejs.TypeScript.DefinitelyTyped" version="3.3.7" targetFramework="net452" />
  <package id="webvr-api.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="Ziks.WebServer" version="0.1.6233.27703-alpha" targetFramework="net452" />
</packages>